.contact-page__container {
  display: grid;
}

.contact-page__content {
  display: grid;
  gap: 2.2rem;
  padding: 0 3rem 0 0;
  margin: 2rem;
  /* background-color: green; */
}

.contact-page__content > form {
  display: grid;
  justify-content: start;
  gap: 1.5rem;
  grid-template-columns: minmax(30rem, .85fr);
  padding: 1rem 0 8rem 0;
  /* background-color: red; */

  & label {
    display: grid;
    color: #c44800b8;
    font-size: 0.95rem;
    gap: 0.2rem;

    & input {
      height: 2rem;
      outline: none;
      border-radius: 0.3rem;
      border: 1px solid black;
      padding-left: 0.5rem;
    }

    & textarea {
      border-radius: 0.3rem;
      outline: none;
      border: 1px solid black;
      resize: none;
      padding: 0.5rem;
    }
  }

  & input[type="submit"] {
    width: 20rem;
    padding: 0.8rem;
    border-radius: 3rem;
    border: none;
    justify-self: center;
    background-color: #c44800b8;
    color: #fff;
  }
}
