.skills-page__container {
  display: grid;
}

.skills-page__content {
  display: grid;
  gap: 2rem;
}

.skills-page__content-marker {
  margin: 3rem 0 0 2rem;
}

.skills-page__skill-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  place-content: center;
  width: 90%;
}
