.book-marker__container {
    border: 1px solid rgba(0, 0, 0, 0.812);
    background-color: white;
    width: 11rem;
    height: 3rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    gap: 1rem;
    padding-right: 2.2rem;
}

.book-marker__container > div {
    display: grid;
    place-items: center;
    margin-left: 1.2813rem;
    /* background-color: red; */
    font-size: 1.3rem;
    color: #c44800b8;
}

.book-marker__container > p {
    display: grid;
    justify-content: center;
    letter-spacing: .04rem ;
    color: rgba(0, 0, 0, 0.812);
    font-size: .9rem;
}



