.header-menu__container {
    width: 100%;
    display: grid;
    place-content: center;  
}

.header-menu__container > ul {
    display: flex;
    justify-content: center;
    gap: 2.2rem;
}

.header-menu__container > ul li {
    list-style: none;
    cursor: pointer;
    padding: .4rem 0;
    
    & a {
        text-decoration: none;
        color: #31393C;
    }
}

.header-menu__container > ul li:hover {
    border-bottom: 2px solid black;
    margin-bottom: -2px;
}