.skill-card__container {
  height: 15rem;
  display: grid;
  
  & div {
      display: grid;
      place-content: center;
      gap: 1.1rem;
      
      & h1 {
          font-size: 7rem;
          display: grid;
          place-items: center;
          cursor: pointer;
          transition: transform .3s ease;
    }

    & h1:hover {
        transform: scale(1.2);
    }

    & p {
        display: grid;
        place-items: center;
        cursor: pointer;
        font-size: 1.1rem;
    }
  }
}
